Repository Map-N-Merge/XueEr-Backend: changes, and which lint-staged commands are due for each by the changed paths.
All: go fmt, prettier --write

revert: undo changes accidentally pushed to wrong branch
  .env.example
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  README.md
  eslint.config.js
  firebase.json
  go.mod
  go.sum
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/env.ts
  src/config/firebase.ts
  src/index.ts
  src/lib/courses/GetCourses.go
  src/lib/firestoreDB/InitFirestore.go
  src/lib/testOnly/CourseTestAPI.go
  src/lib/testOnly/FirestoreEmulator.go
  src/main.go
  src/test/api.test.ts
  src/test/config.test.ts
  src/test/setup.ts
  tsconfig.json
  vitest.config.ts
  xueer-dev.example.json
Due: go fmt, prettier --write

fix: standardize error responses in GetCoursesHandler
  src/lib/courses/GetCourses.go
Due: go fmt

revert: back to gin refactor part.
  .env.example
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  README.md
  eslint.config.js
  firebase.json
  go.mod
  go.sum
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/config/env.ts
  src/config/firebase.ts
  src/index.ts
  src/lib/firestoreDB/InitFirestore.go
  src/lib/testOnly/CourseTestAPI.go
  src/lib/testOnly/FirestoreEmulator.go
  src/main.go
  src/test/api.test.ts
  src/test/config.test.ts
  src/test/setup.ts
  tsconfig.json
  vitest.config.ts
  xueer-dev.example.json
Due: go fmt, prettier --write

chore: reorganize Firebase credentials and update README instructions
  .env.example
  .gitignore
  README.md
  credentials/firebase-credentials.json
Due: prettier --write

feat: enhance environment configuration and Firestore emulator integration
  .env.example
  README.md
  firebase.json
  src/lib/firestoreDB/InitFirestore.go
  src/lib/testOnly/CourseTestAPI.go
  src/lib/testOnly/FirestoreEmulator.go
  src/main.go
Due: go fmt, prettier --write

Path conditions:
  go fmt: any of: *.go
  prettier --write: any of: *.{json,md,yml,yaml}
